<!DOCTYPE html>
<html>
<head>
	<title>Welcome to the shawrma store</title>
</head>
<body>
	<h1>Alo</h1>
	<a href="/">Home</a>
	<div class="card">
  <img src="https://www.google.co.il/url?sa=i&source=images&cd=&ved=2ahUKEwilobSsisflAhUDJhoKHYX-Cu0QjRx6BAgBEAQ&url=https%3A%2F%2Fwww.themediterraneandish.com%2Fchicken-shawarma-recipe%2F&psig=AOvVaw2HK23p4A5hzAivTIfElzS8&ust=1572631321609031.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Shawrma</h1>
  <p class="price">$40.99</p>
  <p>Some shawrma</p>
  <p><button>Add to Cart</button></p>
</div>


</body>
</html>